<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.autotrader.bot</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/mikeeckerle/AutoTrader/.venv/bin/python</string>
        <string>/Users/mikeeckerle/AutoTrader/main.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/mikeeckerle/AutoTrader</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/mikeeckerle/AutoTrader/autotrader.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/mikeeckerle/AutoTrader/autotrader.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/mikeeckerle/.local/bin</string>
    </dict>
</dict>
</plist>
